*
{margin:0px;
	padding:0px;
	-moz-box-sizing:border;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

}


h1 {
	padding-top: 0.5em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;

}

h2 {
	padding-top: 0.5em;
	margin-top: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}
.title {
	padding-top: 0.5em;
	color: #1C2731;
font-size: 2em;
	font-weight: 400;
}

h3 {
	
	margin-top: 10px;
	text-align: center;
}

.container{
	margin: 0 auto;
	width: 900px;
}


.color1 {
	padding: 0.1em 1% 0;
	clear:both;
	float:left;
	width:100%;
	margin-bottom: 2px;

}
.color1number {
	background-color: #1C2731;
	height: 120px;
	width: 100%;
	font-size:2em;
	text-align:center;
	vertical-align: middle;
	overflow: hidden;
	float: none;
	position:absolute;
	color:white;
}
.color1preview {
	float:left;
	width: 150px;
	margin-right:1px;
	list-style-type: none;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.2em;
	margin-bottom: 1em;
	margin: 0.5em;
	background-color:#fff;
	height: 13em;
	position:relative;
	overflow: hidden; 


}
.color1details {
	padding: 1px;
	margin-bottom:0.9em;
	margin-left: 0.9em;
	position:absolute;
	bottom:0;
	background-color: white;
	width:150px;
	color: #999;



}
.content{
	margin-top: 280px;
	background-color: white;
	height: 380px;
}

.paragraph{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.0em;
	line-height: 0.9em;

}
.paragraph2{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1.0em;
	line-height: 0.9em;
	padding-bottom: 1.8em;
}
.headings{
	
	background-color: #F6FFC3;
	height: 380px;
}
.titlehead{
	
	color: #1C2731;
	font-family: 'Ubuntu', sans-serif;

}
.subtitle{
	color: #1C2731;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	font-weight: 400
}
.texts{
	color: #1C2731;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.9em;
	font-weight: 400
}
.footer{
	padding-top: 1em;
	color: #1C2731;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	text-align: center;
}


}
